# Local 접속
NEXT_PUBLIC_API_URL=http://localhost:9000
NEXT_PUBLIC_WS_URL=ws://localhost:9000

# Tailscale 접속 시 주석 해제하고 IP 변경
# NEXT_PUBLIC_API_URL=http://100.64.1.2:9000
# NEXT_PUBLIC_WS_URL=ws://100.64.1.2:9000
